*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  font-family: monospace;
}

body {
  min-height: 100vh;
  color: rgb(249, 249, 249);
  background-color: rgb(24, 24, 24);
}
